@import "variables.css";
@import "header.css";
@import "content.css";
@import "product.css";
@import "comment.css";

/* Mobile Padding for Content section */
@media screen and (max-width: 500px) {
	.welcome__text {
		padding: 0 40px;
	}
}

/* Desktop, Tablet */
@media screen and (min-width: 1000px) {
	/* Header */
	.header__container {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.navIcon {
		width: fit-content;
		justify-content: flex-start;
	}

	.logo__mobile {
		width: 180.64px;
		height: 50px;
		margin-top: -2px;
	}

	.menuIcon {
		display: none;
	}

	.navMenu {
		display: flex;
	}

	.navMenu__active {
		display: none;
	}

	.navMenu__list {
		text-align: left;
		flex-direction: row;
		width: 50%;
		height: fit-content;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 16px;
	}

	.navLink {
		color: var(--skyBlue);
	}

	.navLink::before {
		background-color: var(--skyBlue);
	}

	.loginBtn {
		margin: 0;
	}

	/* Content */
	.content__container {
		padding: var(--padding_global) 100px 130px 100px;
	}

	.welcome__text {
		margin-bottom: 200px;
	}

	.welcome__text > h1 {
		font-size: 60px;
	}

	.welcome__text > p {
		font-size: 20px;
	}

	/* Product */
	.product__container {
		flex-direction: row;
	}

	.product {
		margin: 0 40px;
		padding: 100px 0 60px 0;
	}

	.productImg {
		min-height: 90px;
		min-width: 60px;
	}

	/* Comment */
	.comment__container {
		padding: var(--padding_global) 150px 100px 150px;
		background: linear-gradient(180deg, var(--lightBlue) 30%, var(--skyBlue));
	}

	.comment__box {
		background-color: var(--white);
		padding: 70px;
	}

	.comment__box > h2 {
		margin-bottom: 80px;
	}

	.comment__info {
		margin-bottom: 40px;
	}

	.name {
		margin-bottom: 13px;
	}

	.email {
		font-weight: 400;
		font-size: 12px;
	}

	.comment {
		padding: 20px;
		border: 1px solid;
	}
}
