@import "variables.css";
@import "header.css";
@import "content.css";
@import "product.css";

/* Mobile Padding for Content section */
@media screen and (max-width: 500px) {
	.welcome__text {
		padding: 0 40px;
	}
}

/* Desktop, Tablet */
@media screen and (min-width: 1000px) {
	/* Header */
	.header__container {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.navIcon {
		width: fit-content;
		justify-content: flex-start;
	}

	.logo__mobile {
		width: 180.64px;
		height: 50px;
		margin-top: -2px;
	}

	.menuIcon {
		display: none;
	}

	.navMenu {
		display: flex;
	}

	.navMenu__active {
		display: none;
	}

	.navMenu__list {
		text-align: left;
		flex-direction: row;
		width: 50%;
		height: fit-content;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 16px;
	}

	.navLink {
		color: var(--skyBlue);
	}

	.navLink::before {
		background-color: var(--skyBlue);
	}

	.loginBtn {
		margin: 0;
	}

	/* Content */
	.content__container {
		padding: var(--padding_global) 100px 130px 100px;
	}

	.welcome__text {
		margin-bottom: 200px;
	}

	.welcome__text > h1 {
		font-size: 60px;
	}

	.welcome__text > p {
		font-size: 20px;
	}

	.product__row {
		flex-direction: row;
	}

	/* Product */
	.product {
		margin: 0 40px;
		padding: 100px 0 60px 0;
	}
}
