:root {
	/* Layout */
	--padding_global: 18px;
	/* Colors */
	--skyBlue: rgb(0, 195, 255);
	--navBackground: rgba(0, 0, 0);
	--white: rgb(255, 255, 255);
	--lightBlue: rgb(240, 248, 255);
	--blueGrey: rgb(102, 153, 204);
	--lightGrey: rgba(211, 211, 211, 0.4);
	--blue: rgb(5, 92, 157);
  --btnBlue: rgb(103, 159, 211);
}
